extends ../auth.layout.pug

block content
	h1.auth__title.title-strip Авторизируйтесь
	form.login-form
		label.auth__label.auth__icon.auth__login-icon
			input.auth__input(type="text" placeholder='Логин' name='login')
		label.auth__label.auth__icon.auth__password-icon
			input.auth__input(type="password" placeholder='Пароль' name='pass')
		input.auth__input-checkbox(type='checkbox' name='captcha' id='captcha-checkbox')
		label.auth__label.auth__checkbox(for='captcha-checkbox') Я человек
		.radio__row
			input.auth__input-radio(type="radio" name='radio-captcha' id='yes' value='yes')
			label.auth__label.label__radio(for='yes') Да
			input.auth__input-radio(type="radio" name='radio-captcha' id='no' value='no')
			label.auth__label.label__radio(for='no') Не уверен
	nav.navigation
		ul.navigation__list
			li.navigation__item
				a.navigation__link(href="#") Главная
			li.navigation__item
				button.navigation__button Войти