extends ../auth.layout.pug

block content
	.wrapper.welcome
		.welcome__block
			.welcome__photo(style='background-image: url(../../assets/images/man_photo.jpg)')
			h1.welcome__name Владимир Астахов
			h2.welcome__about Личный сайт веб разработчика
			+social('welcome__social')
			+nav('navigation', [['Мои работы', '/works.html'], ['Обо мне', '/about.html'], ['Блог', '/blog.html']])
		footer.welcome__footer
			span.footer__text © Владимир Астахов | создано с любовью в LoftSchool | 2016
		a.button.welcome__button(href='#') Авторизоваться