extends ../main.layout.pug

block variables
	- var title = 'Мои работы'
	- var heroClass = 'hero-default'
	- var bg = 'portfolio__bg'

block scripts
	script(src='works.bundle.js')

block heroContant
	include ../common/hero-content.pug

block content 
	section.works
		.works__title-container
			h1.works__title.title-strip Мои работы
		#slider-wrapper
			slider
		
	.works-about
		h2.works__title.works-about__title.title-strip Что обо мне говорят
		.works-about__comment
			blockquote.works-about__comment-container
				.works-about__avatar(style='background-image: url(../../assets/images/comment-avatar1.jpg)')
				p.works-about__comment-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
				cite.works-about__name Ковальчук Дмитрий
				span.works-about__who основатель Loftschool

			blockquote.works-about__comment-container
				.works-about__avatar(style='background-image: url(../../assets/images/comment-avatar2.jpg)')
				p.works-about__comment-text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
				cite.works-about__name Сабанцев Владимир
				span.works-about__who преподаватель
		
		.works-about__contact
				.works-about__contact-card
					h3.works-about__small-title.title-strip Связаться со мной
					form.works-form
						label.visually-hidden(for='works-name') Имя
						input(type="text", name="name", id='works-name', placeholder='Имя').works-form__input
						label.visually-hidden(for='works-mail') E-Mail
						input(type="text", name="mail", id='works-mail', placeholder='Email').works-form__input
						label.visually-hidden(for='works-message') Ваше сообщение
						textarea(name="message", id='works-message', placeholder='Ваше сообщение').works-form__textarea
						.works-form__buttons-wrapper
							ul.works-form__buttons-list
								li.works-form__buttons-item
									button.works-form__buttons(type='submit') Отправить
								li.works-form__buttons-item
									button.works-form__buttons(type='reset') Очистить
					a.go-up(href='#go-here')