footer.footer
	.footer__top
		.footer__column
			span.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
		.footer__column
			+nav('footer-nav', [['Мои работы', '/works.html'], ['Обо мне', '/about.html'], ['Блог', '/blog.html'], ['Авторизация', '/']])
			+social
		.footer__column.footer__quote-wrapper
			blockquote.footer__quote
				span.footer__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
				cite.footer__sad Martin Golding
	.footer__bottom
		.footer__copy
			small.footer__text © Владимир Астахов | Создано с любовью в LoftSchool | 2016