include ./common/_mixins
block variables

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		
		title Portfolio | #{title}
		link(rel='stylesheet' href='main.min.css')
	body
		.wrapper
			.hero(class=heroClass)
				button.hamburger.hamburger--squeeze#hamburger(:class='{ "is-active": isActive }')
					span.hamburger-box
						span.hamburger-inner
				header.header 
					.header__social
						+social

				.hero__content
					.hero__photo(style='background-image: url(../../assets/images/man_photo.jpg)')
					block heroContant

			main.maincontent#go-here
				.bg-triangles
					svg.bg-triangle(viewBox="0 0 100 100" preserveAspectRatio="none" class=bg + '-left')
						polygon(points="0 100, 100 100, 0 0")
					svg.bg-triangle(viewBox="0 0 100 100" preserveAspectRatio="none" class=bg + '-right')
						polygon(points="0,100 100,0 100,100")
				block content

			include ./common/footer.pug

		include ./components/entry.pug

		script(src="https://cdnjs.cloudflare.com/ajax/libs/iamdustan-smoothscroll/0.4.0/smoothscroll.min.js")
		script
			.
				// скорее всего это не работает =(
				import smoothscroll from '../assets/scripts/modules/smoothscroll.min';
				smoothscroll.polyfill();

		script(src='bootloader.bundle.js')
		script(src='vendor.bundle.js')
		block scripts
