body, html {
  height: 100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 95%;
}

.maincontent {
  position: relative;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.button {
  display: block;
  padding: 15px 35px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  text-decoration: none;
  transition: all .4s ease;
  &:hover {
    background-color: $green-hover;
    border-color: $green-hover;
  }
}

.social {
  &__icon {
    fill: #fff;
    transition: fill .4s ease;
    &:hover {
      fill: $green-hover;
    }
  }
  &__icon, &__link {
    max-height: 22px;
    max-width: 31px;
  }
  &__item {
    margin-left: 20px;
    display: inline-block;
    &:first-child {
      margin-left: 0;
    }
  }
}

.title-strip {
  position: relative;
  &::after {
    content: '';
    width: 90px;
    height: 3px;
    position: absolute;
    background: $black;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.small-title {
  text-align: center;
  font-family: 'Sansus';
  font-size: 34px;
  text-transform: uppercase;
}