.about {
	display: flex;
	position: relative;
	&__bg-left {
		fill: #ebefe2!important;
	}
	&__bg-right {
		fill: #f4f5f0!important;
	}


}
.go-down {
	display: block;
	height: 16px;
	width: 26px;
	transition: all .4s ease;
	background-image: svg-load('arrow_down.svg', fill=rgba(#fff, .85));
	position: absolute;
	bottom: 70px;
	&:hover {
		background-image: svg-load('arrow_down.svg', fill=#fff);
	}
}
.about-left, .about-right {
	width: 50%;
	position: relative;
}
.about-left {
	background-color: #ebefe2;
	padding: 0 85px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $black;
	padding-bottom: 30px;
	&__title {
		font-family: 'Sansus';
		font-size: 63px;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		width: 100%;
		z-index: 1;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;left: 0;right: 0;bottom: 0;
			margin: auto;
			margin-top: -7%;
			width: 100%;
			height: 150%;
			background-size: contain;
			background: svg-load('about_header.svg', fill=rgba(#93c42e, .15)) no-repeat center;
			z-index: -1;
		}
	}
	&__small-title {
		margin-bottom: 35px;
		&::after {
			bottom: -10px;
		}
	}
	&__wrapper {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		& p {
			color: $grey;
			margin-top: 15px;
		}
	}
	&__img {
		max-width: 500px;
		text-align: center;
		margin-bottom: 25px;
	}
}
.about-right {
	background-color: #f4f5f0;
	padding: 0 35px;
	&__text-wrapper {
		color: $grey;
		& p {
			margin-top: 30px;
			margin-bottom: 55px;
		}
	}
	&__title {
		margin-top: 20px;
		&::after {
			bottom: -10px;
			background: $grey;
		}
	}
}
.contacts {
	display: flex;
	height: 100vh;
	position: relative;
	justify-content: center;
	align-items: center;
	background: url(./assets/images/map.jpg) no-repeat center;
	background-size: cover;
	&__card {
		width: 380px;
		background: rgba(#f4f5f0, .85);
		color: $black;
		border-radius: 5px;
		padding: 40px;
	}
	&__title::after {
		bottom: -10px;
	}
	.contacts__list-wrapper {
		margin-top: 30px;
	}
	&__icon {
		max-height: 25px;
		max-width: 22px;
		margin-right: 15px;
		fill: #6c9c5a;
	}
	&__item {
		list-style-type: none;
		display: inline-flex;
		align-items: center;
		width: 100%;
		margin-top: 15px;
	}
}