.welcome__title {
	text-transform: uppercase;
	font-family: 'Sansus';
	font-size: 35px;
	margin-top: 35px;
	margin-bottom: 45px;
	&::after {
		background: #fff;
		bottom: -15px;
	}
}
.welcome__label {
	width: 85%;
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	transition: margin .4s ease;
	@media screen and (max-width: $phone) {
		width: 94%;
	}
}
.welcome__input {
	width: 100%;
	height: 45px;
	padding-left: 18px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	outline: 0;
	outline-offset: 0;
	border: 1px solid transparent;
	transition: border .4s ease;
	&:focus {
		border: 1px solid $green;
		& + .welcome__icon-wrapper .welcome__icon {
			fill: $green!important;
		}
	}
}
.welcome__icon-wrapper {
	height: 45px;
	width: 45px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	background-color: #f0efe9;
	display: flex;
	align-items: center;
	justify-content: center;
	order: -1;
}
.welcome__icon {
	max-width: 16px;
	max-height: 16px;
	fill: #c4cbcd;
	transition: fill .4s ease;
}
.welcome__input-checkbox {
	display: none;
	&:checked + .welcome__checkbox::before {
		background: svg-load('check.svg', fill='#fff') $green no-repeat center;
		background-size: 70%;
	}
}
.welcome__checkbox::before {
	content: '';
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 5px;
	margin-right: 10px;
	cursor: pointer;
	transition: background .4s ease;
}
.welcome__radio-row {
	display: flex;
	justify-content: center;
}
.welcome__input-radio {
	display: none;
	&:checked + .label__radio::after {
		background: $green;
	}
}
.label__radio {
	position: relative;
	margin-right: 60px;
	white-space: nowrap;
	&:last-child {
		margin-right: 0;
	}
	&::before {
		content: '';
		width: 20px;
		height: 20px;
		background-color: #fff;
		border-radius: 50%;
		position: absolute;
		left: -26px;
		top: 0;bottom: 0;
		margin: auto;
		cursor: pointer;
	}
	&::after {
		content: '';
		width: 8px;
		height: 8px;
		background: transparent;
		position: absolute;
		left: -20px;
		top: 0;bottom: 0;
		margin: auto;
		border-radius: 50%;
		transition: background .4s ease;
		cursor: pointer;
	}
}
.login-form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.navigation__button {
	color: #fff;
	font-size: 16px;
	text-decoration: none; 
	display: block;
	background-color: $green;
	padding: 15px 0;
	transition: background .4s ease;
	outline: 0;
	outline-offset: 0;
	width: 100%;
	height: 100%;
	.navigation__item:last-child &{
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 0;
	}
	.navigation__item:first-child &{
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 5px;
	}
	&:hover {
		background: $green-hover;
	}
}
.input__error {
	position: absolute;
	bottom: -55px;left: 40px;
	padding: 10px 15px;
	background: #e44845;
	border-radius: 5px;
	z-index: 99;
	display: none;
	opacity: 0;
	transition: opacity .4s ease;
	&::before {
		content: ''; 
		position: absolute; /* Абсолютное позиционирование */
		left: 40px; top: -18px; /* Положение треугольника */
		border: 8px solid transparent; /* Прозрачные границы */
		border-bottom: 10px solid #e44845; /* Добавляем треугольник */
	}
}
.welcome__label--error {
	margin-bottom: 65px;
	& .welcome__input {
		border: 1px solid #e44845;
	}
	& .welcome__error {
		opacity: 1;
	}
	& .welcome__icon-wrapper .welcome__icon {
		fill: #e44845;
	}
}
.welcome__checkbox {
	transition: color .4s ease;
}