.hero {
	width: 100%;
	min-height: 400px;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: 0;left: 0;bottom: 0;right: 0;
		background: url(./assets/images/bg-welcome.jpg) no-repeat center;
		background-size: cover;
		z-index: -1;
	}
	&__name {
		font-size: 35px;
		font-weight: 500;
	}
	&__site {
		font-size: 16px;
		font-weight: 500;
	}
	&__content {
		display: flex;
		align-items: center;
		flex-direction: column;
		z-index: 999;
	}
	&__photo {
		margin: 70px 0 30px 0;
		width: 141px;
		height: 141px;
		border-radius: 50%;
		background-size: cover;
		background: no-repeat center;
	}
	&-social {

		&__icon {
			fill: #fff;
			transition: fill .4s ease;
			&:hover {
				fill: $green-hover;
			}
		}
		&__icon, &__link {
			max-height: 22px;
			max-width: 31px;
		}
		&__item {
			margin-left: 20px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	&-default {
		height: 600px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			background: svg-load('portfolio_header.svg', fill=rgba(#fff, .12)) no-repeat center;
			width: 100%;
			max-width: 100%;
			height: 90%;
			z-index: -1;
		}
	}
}
.header {
	height: 36px;
	padding: 0 30px;
	padding-top: 28px;
	display: flex;
	&__btn-wrapper {
		margin-left: auto;
	}
}

.bg-triangles {
	width: 100%;
	display: flex;
	position: absolute;
	bottom: -4px;
	z-index: 1;
	flex-direction: column;
}
.bg-square {
	height: 5px;
	width: 100%;
	bottom: 0;
	position: absolute;
}
.bg-fill {
	fill: #faf8f0;
}
.bg-triangle {
	width: 100%;
	height: 100px;
	bottom: 4px;
	position: absolute;
	@media screen and (max-width: $tablet) {
		max-height: 70px;
	}
	@media screen and (max-width: $tablet) {
		max-height: 50px;
	}
}

.go-down {
	display: block;
	height: 16px;
	width: 26px;
	transition: all .4s ease;
	background-image: svg-load('arrow_down.svg', fill=rgba(#fff, .85));
	position: absolute;
  bottom: 70px;
  z-index: 10;
	&:hover {
		background-image: svg-load('arrow_down.svg', fill=#fff);
	}
}