.welcome {
	background: url(./assets/images/bg-welcome.jpg) no-repeat center;
	background: transparent;
	background-size: cover;
	display: flex;
	position: relative;
	perspective: 600px;
	justify-content: center;
	align-items: center;
	&::after {
		content: '';
		position: absolute;
		top: 0;left: 0;right: 0;bottom: 0;
		background: linear-gradient(135deg, rgba(0, 0, 0, .5), transparent 50%, rgba(0, 0, 0, .5));
		z-index: 1;
	}
	@media screen and (max-width: $phone) {
		padding: 0 2%;
	}
	&__card {
		background: rgba(#122620, .6);
		width: 380px;
		border-radius: 5px;
		margin: auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		color: #fff;
		transform-style: preserve-3d;
		transition: transform .4s ease;
		backface-visibility: hidden;
		position: absolute;
		z-index: 10;
		@media screen and (max-width: $phone) {
			width: 100%;
		}
		&--back {
			transform: rotateY(180deg);
			position: absolute;
		}
		&--flipped {
			& .welcome__card--front{
				transform: rotateY(180deg);
			}
			& .welcome__card--back{
				transform: rotateY(360deg);
			}
			& .welcome__button {
				opacity: 0;
			}
		}
	}
	&__name {
		font-weight: 500;
		font-size: 28px;
		margin-bottom: 10px;
	}
	&__about {
		font-weight: 400;
		font-size: 16px;
	}
	&__photo {
		width: 141px;
		height: 141px;
		border-radius: 50%;
		background-size: cover;
		background: no-repeat center;
		margin: 40px 0 25px 0;
	}

	&-footer {
		position: absolute;
		bottom: 0;
		color: #fff;
		width: 100%;
		text-align: center;
		margin-bottom: 35px;
		&__text {
			font-size: 16px;
		}
	}
	&__button {
		position: absolute;
		right: 99px;
		top: 24px;
		background: transparent;
		transition: opacity .4s ease, background .4s ease, border .4s ease;
		z-index: 10;
		@media screen and (max-width: $phone) {
			left: auto; right: auto;
			display: block;
			margin: auto;
		}
	}
	&-social {
		margin: 30px 0;
		&__icon {
			fill: rgba(#fff, .5);
			height: 22px;
			max-width: 31px;
			transition: fill .4s ease;
			&:hover {
				fill: $green-hover;
			}
		}
		&__icon, &__link {
			max-height: 22px;
			max-width: 26px;
		}
		&__item {
			display: inline-block;
			margin-left: 25px;
			&:first-child {
				margin-left: 0;
			} 
		}
	}
}

.navigation {
	width: 100%;
	&__list {
		display: flex;
	}
	&__item {
		border-left: 2px solid rgba(#fff, .5);
		display: block;
		flex-basis: auto;
		flex-grow: 1;
		text-align: center;
		&:first-child {
			border-left: none;
		}
		&:first-child .navigation__link {
			border-radius: 0 0 0 5px;
		}
		&:last-child .navigation__link {
			border-radius: 0 0 5px 0;
		}
	}
	&__link {
		color: #fff;
		font-size: 16px;
		text-decoration: none; 
		display: block;
		background-color: $green;
		padding: 15px 0;
		transition: background .4s ease;
		&:hover {
			background: $green-hover;
		}
	}
}