.portfolio__bg-left, .portfolio__bg-right {
	fill: #f8f9f5;
}
.works {
	width: 100%;
	&__title {
		color: $black;
		font-family: 'Sansus';
		font-size: 63px;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		z-index: 10;
		&-container {
			width: 100%;
			background: #f8f9f5;
			padding: 70px 0;
		}
		&::after {
			bottom: -10px;
		}
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 200%;
			top: 0;left: 0;right: 0;bottom: 0;
			margin: auto;
			background: svg-load('works_header.svg', fill=rgba(#93c42e, .1)) no-repeat center / 100% 100%;
			z-index: -1;
			margin-bottom: -1.5%;
		}
	}
	&-about {
		padding-top: 60px;
		background: url(../assets/images/works-about.png) #f4f5f0 no-repeat center / cover;
		// background: url(https://images.unsplash.com/photo-1524748969064-cf3dabd7b84d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c376d9ff5e03a361865c739d716cb82&auto=format&fit=crop&w=1568&q=80) no-repeat center / cover;
		padding-bottom: 350px;
		position: relative;
		&__title {
			margin-top: 20px;
			&::before {
				background: svg-load('about_header.svg', fill=rgba(#93c42e, .15)) no-repeat center / contain;
			}
		}
		&__comment {
			margin-top: 60px;
			display: flex;
			justify-content: center;
			margin-bottom: 50px;
			&-container {
				width: 380px;
				color: $black;
				display: flex;
				flex-direction: column;
				align-items: center;
				font-style: italic;
				position: relative;
				margin-right: 20px;
				&::before {
					content: '';
					width: 75px;
					height: 60px;
					background: svg-load('qqq.svg', fill=rgba(#93c42e, .15)) no-repeat center / contain;
					position: absolute;
					top: 70px;left: 0;
					margin: auto;
					z-index: 0;
				}
				&:last-child {
					margin-right: 0;
				}
			}
			&--text {
				z-index: 10;
			}
		}
		&__name {
			font-weight: 500;
			color: $green;
			text-align: center;
			margin-top: 20px;
		}
		&__who {
			display: block;
			text-align: center;
			&::before {
				content: '— ';
			}
		}
		&__avatar {
			height: 77px;
			width: 77px;
			border-radius: 50%;
			margin-bottom: 20px;
			background: #ccc no-repeat center / cover;
		}
		&__contact {
			display: flex;
			justify-content: center;
			align-items: center;
			&--card {
				border-radius: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				z-index: 10;
				color: $black;
				padding-top: 30px;
				flex-direction: column;
				width: 380px;
				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;left: 0;right: 0;bottom: 0;
					// background: url(https://images.unsplash.com/photo-1524748969064-cf3dabd7b84d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c376d9ff5e03a361865c739d716cb82&auto=format&fit=crop&w=1568&q=80) no-repeat center / cover;
					background: url(../assets/images/works-about.png) #f4f5f0 no-repeat center / cover;
					background-color: #fff;
					z-index: -1;
					filter: blur(5px);
				}
			}
		}
		&__small-title {
			font-size: 35px;
			font-family: 'Sansus';
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 40px;
			&::after {
				bottom: -15px;
			}
		}
		&__input {
			border-radius: 25px;
			padding: 14px 20px;
			outline: 0;
			outline-offset: 0;
			border: none;
			margin-bottom: 20px;
			width: 90%;
		}
		&__textarea {
			border-radius: 25px;
			padding: 14px 20px;
			outline: 0;
			outline-offset: 0;
			border: none;
			margin-bottom: 20px;
			height: 130px;
			width: 90%;
		}
	}
}
.go-up {
	display: block;
	height: 16px;
	width: 26px;
	transition: all .4s ease;
	background-image: svg-load('arrow_down.svg', fill=rgba(#fff, .85));
	position: absolute;
	bottom: 250px;
	z-index: 10;
	transform: rotate(180deg);
	&:hover {
		background-image: svg-load('arrow_down.svg', fill=#fff);
	}
}